body
{
  font-family:'Arial', sans-serif;
  background:$background-color;
  line-height:1.6em;
}

.navbar{
  overflow:auto;
  min-height:100px;
  background:$primary-color;
  font-size:18px;
  border:0;
  border-radius:0;
}

.navbar-brand {
  margin:10px 0 0 0;
  font-size:25px;
  padding:0;
}

.navbar a{
  color:#fff !important;
}

.navbar a:hover{
  color:#ff953f !important;
}

.navbar-brand a:hover{
  color:#fff !important;
}

.navbar ul{
  margin-top:18px;
}

.search-form {
  margin-top:30px;
}

.search-form input[type='text']{
  border-radius: 0;
  margin-top:5px;
  height:38px;
}

.search-form .btn {
  border:0;
  height:38px;
  margin-top:0px;
  border-radius:0;
  margin-left:-8px;
}

.search-form .form-control{
  background:#f4f4f4;
  border:1px solid #eee;
}

.search-form .form-group{
  display:inline-block;
  margin-bottom: 20px;
}

.btn{
  border:none;
  border-radius:0;
}

.btn-primary{
  background:$primary-btn-color;
  color:#fff !important;
}

.btn-danger{
  color:#fff !important;
}

.btn:hover{
  background:#ccc;
}

.post{
  border:1px #ccc solid;
  background:#fff;
  margin-bottom:15px;
}

.post .btn{
  display: block;
  margin-top:30px;
}

.post img{
  width:100%;
  margin-bottom:30px;
}

.post-content{
  padding:10px;
  box-sizing:border-box;
}

.post h3{
  margin:0;
  padding:0;
}

small{
  background:$primary-color;
  color:#fff;
  display:block;
  margin:10px 0;
  padding:5px 10px;
}

section{
  margin-top:50px;
}

footer{
  background:$primary-color;
  color:#fff;
  text-align:center;
  height:60px;
  padding-top:20px;
  margin-top:30px;
}

.user_nav{
  height:60px;
  padding-top:20px;
  padding-right:50px;
  margin-bottom:15px;
}
